body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#title{
    text-align: center;
}
#description{
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    
}

#survey-form{
    width: 500px;
    height: 700px;
    margin: auto;
    display: grid;
    
    border:1px solid #e0e0e0;
    border-radius:5px;
    padding: 8px;
}

#radios,#checks{
    display: flex;
    margin: 10px;
}

#name, #email,#number,#dropdown,#text-area{
    margin:10px;
}
#submit{
    width: 80px;
    height:40px;
    border: none;
    border-radius: 5px;
    color:#fff;
    background-color: blue;
    margin-left:10px;
    

}


